<div class="banner" style="background-image: url('<%= rails_blob_url(@list.photo) %>'); height: 246px; background-position: center;">
</div>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class:"btn mt-3" %>
<%= link_to "Back to lists", lists_path, class:"btn mt-3" %>
<br>
<div class="container">
  <% @bookmarks.each do |bookmark| %>
    <div class="card d-flex">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="card-infos col-sm p-3 mx-3">
        <%= bookmark.movie.title %>
        <%= bookmark.movie.overview.first(200)%>...
        <%= bookmark.movie.rating %>
        <%= link_to "delete", bookmark_path(bookmark), :class => "text-decoration-none text-danger",  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
